body {
  display: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.79),rgba(0,0,0,1) );
}

h4 {
  color: white;
}


#startEvo {
  text-align: center;
  margin: auto;
}

/* Genetics CSS */
#grid {
  border-style: solid;
  border-color: rgba(255,255,255, 0.3);
  display: grid;
  grid-column-start: 1;
  grid-row-start: 2;
  background-color: #282c34;
  grid-template-columns: repeat(14, 14fr);
  grid-template-rows: repeat(14, 14fr);
  grid-auto-flow: column;
  row-gap: 0px;
  column-gap: 0px;
  width: 85vw;
  height: 85vh;
  margin: auto;
}

.title-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: end;
}

.justify-start {
  justify-self: start;
}

.individual {
  background-color: rgb(255, 255, 255);
}

.colour-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
}

.back-button {
  position: fixed;
  top: 25px;
  left: 7.5%;
  border-style: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 75px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
}

.start-button {
  width: 250px;
  height: 20px;
  color: rgb(0, 0, 0);
  background-color: rgba(255,255,255,1);
  border-style: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
}

.labels {
  color: white;
  font-size: 15px;
  width: 155px;
}

@media only screen and (max-width: 800px) {
  .title-section {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: end;
  }

  .start-button {
    position: absolute;
    top: 3%;
    width: 100px;
    font-size: 10px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
  }

  .colour-label {
    display: none;
  }

  .label-resp {
    display: grid;
    width: 20px;
    margin-right: 50%;
  }

  .colour {
    display: fixed;
    flex-direction: column;
    margin-left: 325px;
    margin-top: 22px;
  }

  #grid {
    height: 80vh;
  }

}

@media only screen and (max-width: 450px) {
  .title-section {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: end;
  }

  .start-button {
    position: absolute;
    top: 3%;
    width: 100px;
    font-size: 10px;
  }

  .back-button {
    display: block;
    font-size: 10px;
    width: 35px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
  }

  .colour-label {
    display: none;
  }

  .label-resp {
    display: grid;
    width: 20px;
    margin-right: 75%;
  }

  .colour {
    display: fixed;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 15px;
    height: 30px;
  }

  #grid {
    height: 80vh;
  }

}