.App {
  margin: auto;
  padding: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
}

#startEvo {
  width: 200px;
  text-align: center;
  margin: auto;
}

/* Genetics CSS */
#grid {
  border-style: solid;
  border-color: rgba(255,255,255, 0.3);
  display: grid;
  grid-column-start: 1;
  grid-row-start: 2;
  background-color: #282c34;
  grid-template-columns: repeat(14, 14fr);
  grid-template-rows: repeat(14, 14fr);
  grid-auto-flow: column;
  row-gap: 0px;
  column-gap: 0px;
  width: 85vw;
  height: 85vh;
  margin: auto;
}

.title-section {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
}

.individual {
  background-color: wheat;
}